
h1 {
    text-align:center;
    text-decoration: underline;
    color:rgb(21, 233, 21) ;
} 

h2{
color:blue
}
h3{
    font-style: italic;
    color:rgb(248, 133, 11);
}
section{
    margin-right:20% ;
}